// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "prismjs/themes/prism.css";
@import "select2/src/scss/core";

// Temp solution related to the issue https://github.com/apalfrey/select2-bootstrap-5-theme/issues/75
$s2bs5-border-color: $border-color;
@import "select2-bootstrap-5-theme/src/include-all";

.pagination {
    justify-content: center;
}


.deals-table > tbody > tr:nth-child(4n+1) {
    --#{$prefix}table-accent-bg: var(--#{$prefix}table-striped-bg);
    color: var(--#{$prefix}table-striped-color);
}
